<!-- Header -->
<a name="about"></a>
<div class="intro-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="intro-message">
					<h1>Notely</h1>
					<br>
					<h3>All your notes anytime, anywhere!</h3>
					<br>
					<%= link_to "Sign Up", new_user_registration_path, class: "network-name btn btn-lg btn-home" %>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->
</div>
<!-- /.intro-header -->

<!-- Page Content -->

<div class="container">
	<div class="row">
	<h2 class="home-listing-separator">Testimonial</h2>
		<blockquote>
			<p>
				"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam illum perferendis esse reprehenderit ipsum officiis itaque recusandae dolore, repellat pariatur maiores saepe nam amet, blanditiis, corporis nihil tempore soluta expedita."
			</p>
			<p><small>Anonymous</small></p>
		</blockquote>
	</div>
</div>

<!-- <div class="banner">
	<div class="container">
	  <div class="row">
	    <p class="col-md-4">
	    	"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam illum perferendis esse reprehenderit ipsum officiis itaque recusandae dolore, repellat pariatur maiores saepe nam amet, blanditiis, corporis nihil tempore soluta expedita."
	    </p>
	    <p class="col-md-4">
	    	"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam illum perferendis esse reprehenderit ipsum officiis itaque recusandae dolore, repellat pariatur maiores saepe nam amet, blanditiis, corporis nihil tempore soluta expedita."
	    </p>
	    <p class="col-md-4">
	    	"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam illum perferendis esse reprehenderit ipsum officiis itaque recusandae dolore, repellat pariatur maiores saepe nam amet, blanditiis, corporis nihil tempore soluta expedita."
	    </p>
	  </div>
  </div>
</div> -->
<!-- /.banner -->

<div class="banner">
	<div class="container">
	<h2>Latest Notes</h2>
	<br>
		<!-- Page Features -->
		<div class="row">
			<% @last_notes.each do |last_note| %>
			<div class="col-md-4">
					<div class="thumbnail">
						<div class="caption">
							<h4><%= link_to(last_note.title, last_note) %></h4>
							<p>by <%= last_note.user.email %></p>
							<br>
							<p><%= last_note.content.truncate(50) %></p>
						</div>
					</div>
			</div>
			<% end %>
		</div>
		<!-- /.row -->
	</div>
<!-- /.container -->
</div>


	<div class="container bottom-cta">
		<div class="row">
			<div class="col-lg-12">
				<h3>Create an account for free!</h3>
				<br>
				<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-home" %>
			</div>
		</div>
	</div>

<!-- jQuery -->
<!-- <script src="js/jquery.js"></script> -->

<!-- Bootstrap Core JavaScript -->
<!-- <script src="js/bootstrap.min.js"></script> -->
<script>
	$('document').ready(function(){
		setDiVHeight();
		setCss();

		// $('.navbar-default .navbar-brand').hover(function(){
		// 	$(this).css("color", "#F89406");
		// }, function(){
		// 	$(this).css("color", "whitesmoke");
		// });

		$('.navbar-default .navbar-nav > li > a').hover(function(){
			$(this).css("color", "#F89406");
		}, function(){
			$(this).css("color", "whitesmoke");
		});
	});

	function setCss(){
		$('.navbar-default').css('background-color', 'rgba(0, 0, 0, .0)');
		$('.navbar-default').css('border-color', 'rgba(0, 0, 0, 0.0)');
		$('.navbar-default').css('background-image', 'none');
		$('.intro-header').css('margin-top', '-75px');
	};

	function setDiVHeight(){
		$('.caption').matchHeight();
	};
</script>