<div class="container">

  <h1>Listing Notes</h1>
  <%= link_to 'New Note', new_note_path %>
  <br>
  <br>
  <div class="row text-center">
    <% @my_notes.each do |my_note| %>
    <div class="col-md-4 col-sm-6">
      <div class="thumbnail">
        <div class="jumbotron">
          <h4><%= my_note.title %></h4>
        </div>
        <div class="caption container-fluid">
          <div class="row">
            <div class="col-md-2">
              <p><%= my_note.boolean_to_text %></p>
            </div>
            <div class="col-md-10">
              <p>
                <%= link_to 'Show', my_note %>
                <%= link_to 'Edit', edit_note_path(my_note) %>
                <%= link_to 'Destroy', my_note, method: :delete, data: { confirm: 'Are you sure?' } %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <br>
</div>

<script>

  $('document').ready(function(){
    setDiVHeight();
  });

  function setDiVHeight(){
    $('.thumbnail').matchHeight();
    $('.jumbotron').matchHeight();
  };
</script>