<!DOCTYPE html>
<html>
<head>
  <title>Notely</title>
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,600' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
	<div id="notice-wrapper">
		<%= render 'layouts/messages' %>
	</div>

<%= render 'shared/navbar' %>
	<div class="wrapper">
		<%= yield %>
		<div class="push"></div>
	</div>

<%= render 'shared/footer' %>

</body>
</html>
